:root {
  color-scheme: light dark;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  background: #ffffff;
}

body {
  overflow: hidden;
}

html.dark body {
  background: #09090b;
}

#app {
  display: flex;
  flex-direction: column;
}

.bg-checkered {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 15%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 10px 10px;
  background-position:
    0 0,
    0 5px,
    5px -5px,
    -5px 0px;
  background-color: #f0f0f0;
}

.dark .bg-checkered {
  background-color: #1a1a1a;
  background-image: linear-gradient(45deg, #333 25%, transparent 25%),
    linear-gradient(-45deg, #333 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #333 75%),
    linear-gradient(-45deg, transparent 75%, #333 75%);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
